// ****************************** FONTS ****************************** //

@font-face {
  font-family: 'hermesregular';
  src: url('../font/hermes/hermes-regular-webfont.woff') format('woff2'),
  url('../font/hermes/hermes-regular-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'origin_tech_demoregular';
  src: url('../font/tech/origintech_personal_use-webfont.woff') format('woff2'),
  url('../font/tech/origintech_personal_use-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'barcaderegular';
  src: url('../font/neon/barcade-webfont.woff') format('woff2'),
  url('../font/neon/barcade-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

// **************************************** RESET ****************************************** //

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

// ********************************************* HEADER **************************************** //  
html{
  font-size: 62.5%;
  
  body {
    font-size: 1.4rem;
    font-family: Arial;
    color: white;
    
    header {
      height: 100vh;
      background-image: url('../img/wmanxd03wp031.jpg');
      background-position: center;
      background-size: cover;
      nav {
        z-index: 1;
        height: 100%;
        width: 16vw;
        align-items: center;
        background-color: #009ef34d;
        position: fixed;
        left: 5vw;
        border-left: 3px solid rgb(255, 255, 255);
        border-right: 3px solid rgb(255, 255, 255);    
        box-shadow: rgba(10, 95, 199, 0.989) 0px 50px 100px -20px, rgba(7, 100, 230, 0.995) 0px 30px 60px -30px, rgba(9, 107, 206, 0.984) 0px -2px 6px 0px inset;              
        h1 {
          position: relative;
          top: 25vh;
          font-family: 'hermesregular';
          font-size: 2.5vw;
          color:#E9E128 ;
          text-shadow: 1px 2px 2px rgb(14, 14, 14), 0 0 1em rgb(82, 244, 1), 0 0 0.2em rgb(208, 225, 14);
        }
        ul {
          width: 100%;
          height: 100%;
          position: relative;
          top: 30vh;
          text-align: center;
          li {
            list-style-type: none;
            margin-top: 2rem;
            font-size: 1.7vw;
            a {
              font-family: 'origin_tech_demoregular';
              text-decoration: none;
              color: white;
            }
            a:hover{
              color:#E9E128 ;
              text-shadow: 1px 2px 2px rgb(14, 14, 14), 0 0 1em rgb(82, 244, 1), 0 0 0.2em rgb(208, 225, 14);
            }
          }
          .fa-solid.fa-music{
            font-size: 2vw;
            margin: 2rem;
          }
          .fa-solid.fa-play{
            font-size: 2vw;
            margin-top: 2rem;
            &:hover{
              color:#E9E128 ;
              text-shadow: 1px 2px 2px rgb(14, 14, 14), 0 0 1em rgb(82, 244, 1), 0 0 0.2em rgb(208, 225, 14);
            }
          }
          .fa-solid.fa-pause{
            font-size: 2.3vw;
            margin: 5px;
            &:hover{
              color:#E9E128 ;
              text-shadow: 1px 2px 2px rgb(14, 14, 14), 0 0 1em rgb(82, 244, 1), 0 0 0.2em rgb(208, 225, 14);
            }
          }
        }
      }
// neon eric oriez
      .name{
        text-align: center;
        position: absolute;
        top: 30%;
                left: 45%;
                transform: translate(-50%, -50%);
                font-family: 'barcaderegular';
                animation: slide 2s both;
                h1 {
                    font-size: 2vw;
                }
                h2 {
                    font-size: 1.5vw;
                }
            }
        }

// ********************************************* MAIN **************************************** //

        main {
          section {
            height: 100vh;
                display: flex;
                justify-content: center;
                padding-top: 20vh;
                background-image: url('../img/mur.png');
                background-repeat: repeat-x;
                background-size : 100% 100%;
                font-family: 'origin_tech_demoregular';
              }

            #section-profil {
              background-size: 100% 100%;
              div{
                width: 100%;
                h1{
                  color: white;
                  text-align: center;
                  margin-bottom: 10vh;
                  font-size: 2vw;
                  font-family: 'barcaderegular';
                }
                p{
                  margin: 0 auto;
                  width: 40%;
                  font-size: 1.5vw;
                      }
                }
            }
            
            #section-competences {
              div{
                width: 40vw;
                    h1{
                      color: white;
                      text-align: center;
                        margin-bottom: 10vh;
                        font-size: 2vw;
                        font-family: 'barcaderegular';
                      }
                    figure {
                      text-align: center;
                      &>img{
                        width: 5vw;
                        opacity: 0;
                        margin: 3rem;
                      }
                    }
                  }
                }

            #section-projets {
                div{
                 
                    h1 {
                      color: white;
                      text-align: center;
                        margin-bottom: 10vh;
                        font-size: 2vw;
                        font-family: 'barcaderegular';
                        
                    }
                    .grid-projets {
                      display: grid;
                      grid-template-columns: repeat(2, 1fr);
                      grid-gap: 2vw;
                      width: 40vw;
                      height: 60%;
                      a{
                        width: 100%;
                        height: 25vh;
                        border:5px solid white;
                        border-radius: 5px;
                        position: relative;
                        opacity: 0;
                        img{
                          width: 100%;
                          height: 100%;
                        }
                        .h3-projets{
                          background-color: #009ef384;
                          color: white;
                          text-align: center;
                          position: absolute;
                          width: 100%;
                          bottom: 0px;
                          font-size: 3vh;
                        }
                      }
                      a:hover{
                        .h3-projets{
                          animation-duration: 1s;
                          animation-name: glissement;
                          height: 100%;
                          padding-top: 2vh;

                        }
                      }
                    }
                  }
                }
        }
        
// ********************************************* FOOTER **************************************** //
        
        footer {
          position:relative;
          z-index: 0;
          overflow: hidden;
          #container-footer {
            height: 100vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image:url('../img/samurai.jpg');
            background-size : 100% 100%;
            background-position: center;
            .rain {
              width: 2px;
              height: 40px;
              background: linear-gradient(transparent, rgba(175, 175, 175, 0.311));
                position: absolute;
                left:0px;
                top: 50px;
                bottom: 0;
                border-bottom-left-radius: 14px;
                border-top-right-radius: 14px;
                animation: pluie linear infinite;
                animation-duration: 20s;
            }
            h1 {
              color: white;
              text-align: center;
              margin-bottom: 10vh;
              font-size: 2vw;
              font-family: 'barcaderegular';
              z-index: 1;
            }
            .contact-reseau{
              display: flex;
              justify-content: space-between;
              position: absolute;
              text-align: center;
              border-radius: 5px;
              font-size: 8vh;
              bottom: 30%;
              width: 30%;
              z-index: 1;
              a{
                color: #E9E128;
                margin: 0 10px;
                font-size: 5vw;
                &:hover{
                  color: #fff;
                }
                p{
                  font-size: 20%;
                  color: white;
                  font-family: 'origin_tech_demoregular';
                }
              }
            }
          }
          .modal-container{
            display: none;
            // display: flex; 
            height: 100vh;
            width: 100%; 
            position: fixed; 
            top: 0;
            left: 0;
            justify-content: center;
            align-items: center;
            z-index: 2;
            .modal-details{
              display: flex;
              img{
                height: 90vh;
                width: 100%;
              }
              .fa-times{
                border:3px solid rgb(255, 255, 255);              
                display: flex;
                margin-left: 5px;
                padding: 0 20px;
                font-size: 3vh;
                color: white;
                background-color: #009ef384;
                text-align: center;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                &:hover{
                  background-color: #009ef3e6;
                  color: rgba(208, 23, 23, 0.748);
                  font-size: 3vh;
                }
              }
            }
          }
        }
  }
}

// ***************************************** KEYFRAMES ************************************************ //

// animation images projets
@keyframes glissement {
  0%{
    height: 20%;
  }
  100%{
    height: 100%;
    padding-top: 2vh;
  }
}

// animation slide venu du fond du name
@keyframes slide {
  0% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 0;
    color: #565656;
    }
    100% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
    opacity: 1;
    color: #b1b1b1;
    
    }
  }
  
// animation neon
  @keyframes neon {
    0% {
      opacity: 0;
      transform:scale(0);
      transform-origin: 50% 100%;
    }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    color: #b1b1b1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    color: #fff;
    text-shadow: 0 0 10px white, 0 0 42px rgb(230, 18, 124), 0 0 77px rgb(230, 18, 124), 0 0 100px rgb(230, 18, 124),0 0 200px rgb(230, 18, 124);                    
    transform: translateY(0) rotateX(0) scale(1);
  }
}

// animation des images compétence
@keyframes competence {
  0% {
    transform: scale(7);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(1.5);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  72% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  81% {
    transform: scale(1.24);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  89% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  95% {
    transform: scale(1.04);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

// animation roll de la gauche au centre des images projets 
@keyframes roll-in-right {
  0% {
    transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

// animation pluie footer
@keyframes pluie {
  0%{
    transform: rotate(-30deg);
  }
  100%{
    transform: rotate(-10deg);
    top: calc(100% - 10px);
  }
}

// *************************************** MEDIA QUERIES *********************************************//

// max-width 1024px
@media screen and (max-width: 1024px) {
    html body main #section-projets div .grid-projets{
      width: 50vw;
      height: 30vh;
      a{
        height: 15vh;
        .h3-projets{
          font-size: 2vh; 
        }
      }
    }
}

// max-width 768px
@media screen and (max-width: 768px) {

  // section accueil
   html body header nav{
     height: 10vh;
     width: 100%;
     left: 0;
     background-color: #009ef384;
     position: fixed;
     border-left: none;
     border-right: none;
     border-top: 2px solid rgb(255, 255, 255);
     border-bottom: 2px solid rgb(255, 255, 255);    
     box-shadow: rgba(10, 95, 199, 0.989) 0px 50px 100px -20px, rgba(7, 100, 230, 0.995) 0px 30px 60px -30px, rgba(9, 107, 206, 0.984) 0px -2px 6px 0px inset;
     h1 {
      top: 0;
      left: 30vw;
      font-size: 7vw;
    }
    ul {
      display: flex;
      top: 0;
      text-align: center;
      li {
        margin-top: 0;
        font-size: 3.4vw;
        
        a {
          margin: 4px;
        }
    
      }
      .fa-solid.fa-music{
        font-size: 3vw;
        margin: 2vw;
        margin-top: 0;
      }
      .fa-solid.fa-play{
        font-size: 3vw;
        margin-top: 0;
     
      }
      .fa-solid.fa-pause{
        font-size: 3vw;
        margin: 0;
        margin-top: 0;
   
      }
    }
   }

  html body header .name {
    top: 30%;
    left: 36%;
      h1 {
       font-size: 5vw;
      }
      h2 {
       font-size: 4vw;
      }
  }

  // section profil
  html body main #section-profil div h1 {
    font-size: 5vw;
    margin-bottom: 5vh;
  }

  html body main #section-profil div p{
    font-size: 3.5vw;
    width: 90%;
  }

  // section competences
  html body main #section-competences div {
    width: 60%;
  }
  html body main #section-competences div h1 {
    font-size: 5vw;
    margin-bottom: 5vh;
  }
  html body main #section-competences div figure img {
      width: 12vw;
      opacity: 0;
      margin: 2vw;
  }

  // section projets
  html body main #section-projets div h1 {
    font-size: 5vw;
    margin-bottom: 5vh;
  }
  html body main #section-projets div .grid-projets {
    width: 80vw;
    height: 30vh;
    grid-gap: 3vw;


    a{
      height: 15vh;
      .h3-projets{
        font-size: 3vw; 
      }
    }
  }

  // section footer
  html body footer #container-footer {
    background-size: cover;
  }
  html body footer #container-footer h1 {
    font-size: 5vw;
  }
  html body footer #container-footer .contact-reseau {
    flex-direction: column;
    font-size: 8vh;
    bottom: 5vh;
    width: 70%;
  }
  html body footer #container-footer .contact-reseau a {
    font-size: 9vw;
  }
  html body footer .modal-container .modal-details {
    width: 100%;
  }
  html body footer .modal-container .modal-details img {
    height: 70vh;
    width: 80vw;
  }
  html body footer .modal-container .modal-details .fa-times {
    border:1px solid rgb(255, 255, 255);              
    display: flex;
    margin-left: 2px;
    padding: 0 6px;
    font-size: 4vh;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

// max-width 425px
@media screen and (max-width: 425px) {

  // section accueil
   html body header nav{
     z-index: 1;
     height: 10vh;
     width: 100%;
     left: 0;
     position: fixed;
     border-left: none;
     border-right: none;
     border-top: 2px solid rgb(255, 255, 255);
     border-bottom: 2px solid rgb(255, 255, 255);    
     box-shadow: rgba(10, 95, 199, 0.989) 0px 50px 100px -20px, rgba(7, 100, 230, 0.995) 0px 30px 60px -30px, rgba(9, 107, 206, 0.984) 0px -2px 6px 0px inset;
     h1 {
      top: 2vh;
      left: 22vw;
      font-size: 10vw;
    }
    ul {
      display: flex;
      top: 2vh;
      text-align: center;
      li {
        margin-top: 0;
        font-size: 3.5vw;
        
        a {
          margin: 1px;
        }
      
      }
      .fa-solid.fa-music{
        font-size: 3vw;
        margin: 2vw;
        margin-top: 0;
      }
      .fa-solid.fa-play{
        font-size: 3vw;
        margin-top: 0;
      
      }
      .fa-solid.fa-pause{
        font-size: 3vw;
        margin: 0;
        margin-top: 0;
    
      }
    }
   }

  html body header .name {
    top: 30%;
    left: 22%;
      h1 {
       font-size: 7vw;
      }
      h2 {
       font-size: 5vw;
      }
  }

  // section profil
  html body main #section-profil div h1 {
    font-size: 7vw;
    margin-bottom: 5vh;
  }

  html body main #section-profil div p{
    font-size: 5vw;
    width: 90%;
  }

  // section competences
  html body main #section-competences div {
    width: 90%;
  }
  html body main #section-competences div h1 {
    font-size: 7vw;
  }
  html body main #section-competences div figure img {
      width: 20vw;
      opacity: 0;
      margin: 2vw;
  }

  // section projets
  html body main #section-projets div h1 {
    font-size: 7vw;
  }
  html body main #section-projets div .grid-projets {
    width: 80vw;
    height: 30vh;
    a{
      height: 15vh;
      .h3-projets{
        font-size: 4vw; 
      }
    }
  }

  // section footer
  html body footer #container-footer {
    background-size: cover;
  }
  html body footer #container-footer h1 {
    font-size: 7vw;
  }
  html body footer #container-footer .contact-reseau {
    flex-direction: column;
    font-size: 8vh;
    bottom: 10%;
    width: 70%;
  }
  html body footer #container-footer .contact-reseau a {
    font-size: 15vw;
  }
  html body footer .modal-container .modal-details {
    width: 100%;
  }
  html body footer .modal-container .modal-details img {
    height: 70vh;
    width: 87vw;
  }
  html body footer .modal-container .modal-details .fa-times {
    border:1px solid rgb(255, 255, 255);              
    display: flex;
    margin-left: 2px;
    padding: 0 6px;
    font-size: 4vh;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

// max-width 375px
@media screen and (max-width: 375px) {

  // section accueil
   html body header nav{
     z-index: 1;
     height: 10vh;
     width: 100%;
     left: 0;
     position: fixed;
     border-left: none;
     border-right: none;
     border-top: 2px solid rgb(255, 255, 255);
     border-bottom: 2px solid rgb(255, 255, 255);    
     box-shadow: rgba(10, 95, 199, 0.989) 0px 50px 100px -20px, rgba(7, 100, 230, 0.995) 0px 30px 60px -30px, rgba(9, 107, 206, 0.984) 0px -2px 6px 0px inset;
     h1 {
      top: 2vh;
      left: 22vw;
      font-size: 10vw;
    }
    ul {
      display: flex;
      top: 1vh;
      text-align: center;
      li {
        margin-top: 0;
        font-size: 3.5vw;
        
        a {
          margin: 1px;
        }
     
      }
      .fa-solid.fa-music{
        font-size: 3vw;
        margin: 2vw;
        margin-top: 0;
      }
      .fa-solid.fa-play{
        font-size: 3vw;
        margin-top: 0;
    
      }
      .fa-solid.fa-pause{
        font-size: 3vw;
        margin: 0;
        margin-top: 0;
   
      }
    }
   }

  html body header .name {
    top: 30%;
    left: 24%;
      h1 {
       font-size: 7vw;
      }
      h2 {
       font-size: 5vw;
      }
  }

  // section profil
  html body main #section-profil div h1 {
    font-size: 7vw;
    margin-bottom: 5vh;

  }

  html body main #section-profil div p{
    font-size: 5vw;
    width: 90%;
  }

  // section competences
  html body main #section-competences div {
    width: 80%;
  }
  html body main #section-competences div h1 {
    font-size: 7vw;
    margin-bottom: 5vh;

  }
  html body main #section-competences div figure img {
      width: 20vw;
      opacity: 0;
      margin: 2vw;
  }

  // section projets
  html body main #section-projets div h1 {
    font-size: 7vw;
    margin-bottom: 5vh;

  }
  html body main #section-projets div .grid-projets {
    width: 70vw;
    height: 20vh;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;

    a{
      height: 15vh;
      .h3-projets{
        font-size: 4vw; 
      }
    }
  }

  // section footer
  html body footer #container-footer {
    background-size: cover;
  }
  html body footer #container-footer h1 {
    font-size: 7vw;
  }
  html body footer #container-footer .contact-reseau {
    flex-direction: column;
    font-size: 8vh;
    bottom: 2%;
    width: 70%;
  }
  html body footer #container-footer .contact-reseau a {
    font-size: 17vw;
  }
  html body footer .modal-container .modal-details {
    width: 100%;
  }
  html body footer .modal-container .modal-details img {
    height: 70vh;
    width: 87vw;
  }
  html body footer .modal-container .modal-details .fa-times {
    border:1px solid rgb(255, 255, 255);              
    display: flex;
    margin-left: 2px;
    padding: 0 6px;
    font-size: 4vh;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

// max-width 320px
@media screen and (max-width: 320px) {

    // section accueil
     html body header nav{
       z-index: 1;
       height: 10vh;
       width: 100%;
       left: 0;
       position: fixed;
       border-left: none;
       border-right: none;
       border-top: 2px solid rgb(255, 255, 255);
       border-bottom: 2px solid rgb(255, 255, 255);    
       box-shadow: rgba(10, 95, 199, 0.989) 0px 50px 100px -20px, rgba(7, 100, 230, 0.995) 0px 30px 60px -30px, rgba(9, 107, 206, 0.984) 0px -2px 6px 0px inset;
       h1 {
        top: 2vh;
        left: 22vw;
        font-size: 10vw;
      }
      ul {
        display: flex;
        top: 2vh;
        text-align: center;
        li {
          margin-top: 0;
          font-size: 3.5vw;
          
          a {
            margin: 1px;
          }
       
        }
        .fa-solid.fa-music{
          font-size: 3vw;
          margin: 2vw;
          margin-top: 0;
        }
        .fa-solid.fa-play{
          font-size: 3vw;
          margin-top: 0;
          
        }
        .fa-solid.fa-pause{
          font-size: 3vw;
          margin: 0;
          margin-top: 0;
        
        }
      }
     }

    html body header .name {
      top: 30%;
      left: 20%;
        h1 {
         font-size: 7vw;
        }
        h2 {
         font-size: 5vw;
        }
    }

    // section profil
    html body main #section-profil div h1 {
      font-size: 7vw;
      margin-bottom: 40px;

    }

    html body main #section-profil div p{
      font-size: 5vw;
      width: 90%;
    }

    // section competences
    html body main #section-competences div {
      width: 90%;
    }
    html body main #section-competences div h1 {
      font-size: 7vw;
      margin-bottom: 40px;

    }
    html body main #section-competences div figure img {
        width: 26vw;
        opacity: 0;
        margin: 2vw;
    }

    // section projets
    html body main #section-projets div h1 {
      font-size: 7vw;
      margin-bottom: 40px;
    }
    html body main #section-projets div .grid-projets {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 15px;
      width: 80vw;
      height: 30vh;
      a{
        height: 15vh;
        .h3-projets{
          font-size: 5vw; 
        }
      }
    }

    // section footer
    html body footer #container-footer {
      background-size: cover;
    }
    html body footer #container-footer h1 {
      font-size: 7vw;
    }
    html body footer #container-footer .contact-reseau {
      flex-direction: column;
      font-size: 8vh;
      bottom: 15%;
      width: 70%;
    }
    html body footer #container-footer .contact-reseau a {
      font-size: 15vw;
    }
    html body footer .modal-container .modal-details {
      width: 100%;
    }
    html body footer .modal-container .modal-details img {
      height: 70vh;
      width: 87vw;
    }
    html body footer .modal-container .modal-details .fa-times {
      border:1px solid rgb(255, 255, 255);              
      display: flex;
      margin-left: 2px;
      padding: 0 6px;
      font-size: 4vh;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
}